.each-product {
  font-family: 'Cantarell', sans-serif;
  height: 24em;
  width: 14em;
  margin: 1em;
  /* border: solid black; */
}

.each-product:hover {
  cursor: pointer;
}

.each-product > div:first-child {
  height: 18em;
  position: relative;
}

.each-product > section {
  width: inherit;
  height: 6em;
  background-color: thistle;
}

.each-product > div > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}

section > p {
  vertical-align: top;
  margin: 0;
}

section > h3 {
  margin: 0;
}

#starIcon {
  color: thistle;
  z-index: 4;
  position: absolute;
  font-size: 1em;
  top: 5px;
  right: 5px;
}