.each-product {
  font-family: 'Cantarell', sans-serif;
  height: 24em;
  width: 14em;
  margin: 0.5em;
  /* border: solid grey 1px; */
  border-radius: 10px;
}

.each-product:hover {
  cursor: pointer;
}

.each-product > div:first-child {
  height: 18em;
  position: relative;
}

.each-product > section {
  border-radius: 0px 0px 10px 10px;
  width: inherit;
  height: 6em;
  background-color: thistle;
}

.each-product > div > img {
  border-radius: 10px 10px 0px 0px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9;
}

section > p {
  color: rgb(91, 91, 91);
  vertical-align: top;
  margin: 0;
}

section > h3 {
  margin: 0;
}

#starIcon {
  margin: 0.4em;
  color: thistle;
  z-index: 10;
  position: absolute;
  font-size: 1em;
  top: 5px;
  right: 5px;
}