.each-product {
  background-color: blueviolet;
  position: relative;
  height: 20em;
  width: 15em;
}

.each-product > section:first-child {
  height: 1fr;
}

.each-product > section:nth-child(2) {
  height: 2fr;
  width: 100%;
  background-color: thistle;
  position: absolute;
  bottom: 0;
}

img {
  max-width: 100%;
  max-height: 15em;
}