.app-body {
  /* display: grid;
  grid-template-rows: auto; */
  min-height: 30em;
}

#app {
  /* display: flex; */
  margin: auto;
  margin-top: 0%;
  width: 1000px;
  align-content: center;
}

.component-1 {
  font-family: 'Playfair Display', serif;
}

.component-2 {
  background-color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(96, 30, 158);
  color: aliceblue;
  width: auto;
  height: 80px;
  margin: 0%;
  padding-left: 20px;
  text-shadow: 1px 2px;
}

.site-message {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  color: blueviolet;
  margin: 10px;
}

.overview-container {
  display: flex;
  /* border: solid black 2px; */
}

.image-gallery {
  flex: 1.5;
  border: solid blueviolet;
  margin-right: 10px;
}


.product-details {
  flex: 1;
}

.overview-rating {
  display: flex;
  margin-top: 20px;
}

.overview-rating-link {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: underline;
}

.category {
  text-transform: uppercase;
  margin-bottom: 0%;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  margin: 1px;
}

.product-description {
  font-size: 13px;
  font-style: italic;
}

.stars-column {
  width: 400px;
}

.styles {
  display: flex;
  flex-wrap: wrap;
}

/* .styles img {
  width: 25%;
  min-width: 100px;
  border-radius: 50%;
  height: 8em;
  object-fit: cover;
  width: 8em;
  border-radius:500px;
  -moz-border-radius:500px;
  -webkit-border-radius:500px;
  margin:3px;
} */
.row {
  width: 100%;
  margin: 0%;
  padding:0%;
  align-content: center;
  justify-content: center;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 50%;
}

.sale-price {
  color: red;
}

/* .reviews-column {

} */

#review-block {
  width: 400px;
  background-color: thistle;
}

#review-body {
  width: 250px;
}