.app-body {
  /* display: grid;
  grid-template-rows: auto; */
  min-height: 30em;
}

#app {
  /* display: flex; */
  margin: auto;
  margin-top: 0%;
  width: 1000px;
  align-content: center;
}

.component-1 {
  font-family: 'Playfair Display', serif;
}

.component-2 {
  font-family: 'Playfair Display', serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(96, 30, 158);
  color: aliceblue;
  width: auto;
  height: 80px;
  margin: 0%;
  padding-left: 20px;
  /* text-shadow: 1px 2px; */
}

.site-message {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  color: blueviolet;
  margin: 10px;
}

.overview-container {
  display: flex;
  /* border: solid black 2px; */
}

.image-gallery {
  flex: 1.5;
  border: solid blueviolet;
  margin-right: 10px;
}

.image img {
  flex: 1.5;
  align-content: center;
  width: min-content;
  height: 550px;
}


.product-details {
  flex: 1;
}

.overview-rating {
  display: flex;
  margin-top: 20px;
}

.overview-rating-link {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: underline;
}

.category {
  text-transform: uppercase;
  margin-bottom: 0%;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  margin: 1px;
}

.product-description {
  font-size: 13px;
  font-style: italic;
}

.styles {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  margin: 0%;
  padding:0%;
  align-content: center;
  justify-content: center;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 50%;
}

.thumbnail:hover {
  cursor: pointer;
}

.sale-price {
  color: red;
}

.dropdowns {
  margin-top: 20px;
  margin-left: 5px;
}

.dropdown {
  width: 170px;
  height: 50px;
  text-align: center;
  font-size: medium;
  font-family: 'Playfair Display', serif;
  margin: 5px;
}

.cart-button {
  width: 170px;
  height: 50px;
  text-align: center;
  font-size: medium;
  font-family: 'Playfair Display', serif;
  margin: 5px;
  border:rgb(96, 30, 158) solid;
  border-width: 1px;
  background-color: white;
}

.cart-button:hover{
  color:thistle;
  cursor: pointer;
}

.cart-buttons {
  margin-left: 5px;
}


/* ======== RATINGS & REVIEWS ======== */

.reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.reviews-header {
  display: flex;
  flex-flow: row nowrap;
  /* flex-direction: row; */
  font-family: 'Playfair Display', serif;
}

.stars-column {
  /* display: flex; */
  flex-flow: column nowrap;
  flex-shrink: 2;
  flex-grow: 2;
  flex: 2;
  /* width: 400px; */
  padding: 10px;
  /* flex-wrap: nowrap; */
  /* align-items: flex-start; */
  /* border: 1px solid black; */
}

.stars-recommend {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  font-style: italic;
}

/* .characteristics-section {

} */

.characteristics-name {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.characteristics-value {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.reviews-column {
  flex-flow: column nowrap;
  flex-shrink: 2;
  flex-grow: 2;
  flex: 3;
  /* overflow-y: auto; */
  width: 600px;
  height: 600px;
}

.sort-dropdown {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.review-list {
  overflow-y: auto;
  width: 590px;
  height: 540px;
}

.review-block {
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid rgb(156, 96, 156);
  width: 550px;
  background-color: thistle;
  font-family: 'Playfair Display', serif;
}

.review-username-date {
  font-size: 12px;
  align-content: right;
}

.review-summary {
  font-size: 20px;
  font-weight: bold;
}

.review-body {
  /* width: 250px; */
  font-size: 15px;
}

.review-recommend {
  font-size: 12px;
}

.review-helpful-btn {
  font-family: 'Playfair Display', serif;
  background-color: thistle;
  border: none;
  width: 100px;
  height: 50px;
}

.review-report-btn {
  font-family: 'Playfair Display', serif;
  background-color: thistle;
  border: none;
  width: 100px;
  height: 50px;
}

.form-mandatory {
  color: rgb(189, 5, 5);
  font-family: 'Playfair Display', serif;
}

.form-disclaimer {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 12px;
}

.form-headline {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: bold;
}

.form-rating {
  font-family: 'Playfair Display', serif;
}

.form-recommend {
  font-family: 'Playfair Display', serif;
}

.form-characteristics {
  font-family: 'Playfair Display', serif;
}

.form-characteristics-header {
  font-family: 'Playfair Display', serif;
  font-size: 11px;
}

.form-trait {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

.form-trait-radio {
  text-align: center;
}

.form-summary {
  font-family: 'Playfair Display', serif;
}

.form-body {
  font-family: 'Playfair Display', serif;
}

.form-photos {
  font-family: 'Playfair Display', serif;
}

.form-nickname {
  font-family: 'Playfair Display', serif;
}

.form-email {
  font-family: 'Playfair Display', serif;
}

.form-submit-btn {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  background-color: white;
  border: 1px solid thistle;
  width: 75px;
  height: 30px;
}

.more-reviews-btn {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: white;
  border: 1px solid thistle;
  width: 150px;
  height: 50px;
}

.modal-form {
  flex-wrap: wrap;
}

.add-review-btn {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: white;
  border: 1px solid thistle;
  width: 150px;
  height: 50px;
}