.app-body {
  /* display: grid;
  grid-template-rows: auto; */
  min-height: 30em;
}

#app {
  /* display: flex; */
  margin: auto;
  margin-top: 0%;
  width: 1000px;
  align-content: center;
}

html {
  background-color: rgb(250, 251, 255);
}

.component-1 {
  font-family: 'Playfair Display', serif;
}

.component-2 {
  font-family: 'Playfair Display', serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(96, 30, 158); */
  color: rgb(96, 30, 158);
  width: auto;
  height: 80px;
  /* padding: 0%; */
  margin: 0%;
  /* padding-: 20px; */
  /* text-shadow: 1px 2px; */
  font-family: 'Parisienne', cursive;
  font-size: 40px;
  font-weight: bold;
  /* background-color: rgb(250, 251, 253); */
}

.blueberry {
  width: 45px;
  padding-left: 4px;
}

.site-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  color: thistle;
  margin-top: 0%;
  background-color: rgb(96, 30, 158);
  height: 40px;
  border-radius: 10px;
}

.overview-container {
  display: flex;
  padding-bottom: 30px;
  /* border: solid black 2px; */
}

.image-gallery {
  display: flex;
  position: relative;
  flex: 1.5;
  padding-top: 20px;
  /* border: solid thistle; */
  background-color: rgb(250, 251, 253);
  border-width: 1px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 600px;
}

.image {
  /* flex: 1.5; */
  /* align-content: center; */
  height: auto;
  width: auto;
  max-width: 550px;
  max-height: 550px;
  border-radius: 10px;
}

.gallery-leftBtn {
  position: absolute;
  top: 50%;
  left: 17px;
  font-size: 2rem;
  color: thistle;
}

.gallery-leftBtn:hover {
  cursor: pointer;
  color:rgb(96, 30, 158);
}

.gallery-rightBtn {
  position: absolute;
  top: 50%;
  right: 17px;
  font-size: 2rem;
  color: thistle;
}

.gallery-rightBtn:hover {
  cursor: pointer;
  color:rgb(96, 30, 158);
}

.thumbnail-carousel-img {
  min-width: 30px;
  max-width: 30px;
  margin: 10px;
  border: solid white;
}

.active-thumbnail-carousel-img {
  min-width: 40px;
  max-width: 40px;
  margin: 10px;
  border: solid rgb(96, 30, 158);
}

.thumbnail-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 90px;
  /* border: solid thistle 1px;
  border-radius: 10px; */
  background-color: transparent;

}

.thumbnail-carousel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px thistle solid; */
}


.product-details {
  flex: 1;
}

.overview-rating {
  display: flex;
  margin-top: 20px;
}

.overview-rating-link {
  margin-left: 10px;
  font-size: 15px;
  text-decoration: underline;
}

.category {
  text-transform: uppercase;
  margin-bottom: 0%;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  margin: 1px;
}

.product-description {
  font-size: 13px;
  font-style: italic;
}

.styles {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  margin: 0%;
  padding:0%;
  align-content: center;
  justify-content: center;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 50%;
}

.thumbnail:hover {
  cursor: pointer;
}

.sale-price {
  color: red;
}

.dropdowns {
  margin-top: 20px;
  margin-left: 5px;
}

.dropdown {
  width: 170px;
  height: 50px;
  text-align: center;
  font-size: medium;
  font-family: 'Playfair Display', serif;
  margin: 5px;
  border-color: thistle;
  background-color: rgb(250, 251, 255);
  color: rgb(156, 96, 156);

}

.cart-button {
  width: 170px;
  height: 50px;
  text-align: center;
  font-size: medium;
  font-family: 'Playfair Display', serif;
  margin: 5px;
  border:rgb(96, 30, 158) solid;
  border-width: 1px;
  background-color: rgb(96, 30, 158);
  color: white;
}

.cart-button:hover{
  color:thistle;
  cursor: pointer;
}

.cart-buttons {
  margin-left: 5px;
}

.bag-icon {
  padding-right: 5px;
  color: white;
}

.heart-icon {
  font-size: 17px;
}


/* ======== RATINGS & REVIEWS ======== */

.reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 100px;
}

.reviews-header {
  display: flex;
  flex-flow: row nowrap;
  /* flex-direction: row; */
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bold;
}

.stars-column {
  /* display: flex; */
  flex-flow: column nowrap;
  flex-shrink: 2;
  flex-grow: 2;
  flex: 2;
  /* width: 400px; */
  padding: 10px;
  /* flex-wrap: nowrap; */
  /* align-items: flex-start; */
  /* border: 1px solid black; */
}

.stars-recommend {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  font-style: italic;
}

/* .characteristics-section {

} */

.characteristics-name {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.characteristics-value {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.reviews-column {
  flex-flow: column nowrap;
  flex-shrink: 2;
  flex-grow: 2;
  flex: 3;
  /* overflow-y: auto; */
  width: 600px;
  height: 600px;
}

.sort-dropdown {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  border: 1px solid rgb(161, 6, 161);
}

.review-list {
  overflow-y: auto;
  width: 590px;
  height: auto;
  max-height: 540px;
}

.review-block {
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid rgb(161, 6, 161);
  width: 550px;
  background-color: thistle;
  font-family: 'Playfair Display', serif;
}

.review-username {
  font-size: 12px;
  align-content: right;
  display: inline-block;
}

.review-date {
  font-size: 12px;
  align-content: right;
  display: inline-block;
}

.review-summary {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.review-body {
  /* width: 250px; */
  padding: 5px;
  font-size: 15px;
  display: inline-block;
}

.review-show-more {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  font-style: italic;
}

.review-block-photo {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.review-recommend {
  display: inline;
  padding: 5px;
  font-size: 12px;
}

.review-response-header {
  font-style: italic;
  font-size: 12px;
  background-color: rgb(236, 221, 236);
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.review-response {
  padding: 5px;
  font-size: 12px;
  background-color: rgb(236, 221, 236);
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

.review-helpful {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-size: 11px;
  background-color: thistle;
}

.review-helpful-btn {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-size: 11px;
  background-color: thistle;
  border: none;
  width: 25px;
  height: 20px;
}

.review-report-btn {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-size: 11px;
  background-color: thistle;
  border: none;
  width: 45px;
  height: 20px;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: thistle;
}

.form-mandatory {
  color: rgb(189, 5, 5);
  font-family: 'Playfair Display', serif;
}

.form-disclaimer {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 12px;
}

.form-headline {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: bold;
}

.form-rating {
  font-family: 'Playfair Display', serif;

}

/* .star-rating:not(old) {
  display: inline-block;
  width: 7.5em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}

.star-rating:not(old) > input{
  margin-right: -100%;
  opacity: 0;
}

.star-rating:not(old) > label{
  display: block;
  float: right;
  position: relative;
  background: url('./components/RatingsReviews/ReviewsList/svg-stars/empty-star.svg');
  background-size: contain;
}

.star-rating:not(old) > label{
  display: block;
  float: right;
  position: relative;
  background: url('./components/RatingsReviews/ReviewsList/svg-stars/empty-star.svg');
  background-size: contain;
}

.star-rating:not(old) > label:before{
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: url('./components/RatingsReviews/ReviewsList/svg-stars/full-star.svg');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.star-rating:not(old) > label:hover:before,
.star-rating:not(old) > label:hover ~ label:before,
.star-rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
} */

.form-recommend {
  font-family: 'Playfair Display', serif;
}

.form-characteristics {
  font-family: 'Playfair Display', serif;
}

.form-characteristics-header {
  font-family: 'Playfair Display', serif;
  font-size: 11px;
}

.form-trait {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

.form-trait-radio {
  text-align: center;
}

.form-summary {
  font-family: 'Playfair Display', serif;
}

.form-body {
  font-family: 'Playfair Display', serif;
}

.form-char-count {
  font-family: 'Playfair Display', serif;
  font-size: 11px;
}

.form-photos {
  font-family: 'Playfair Display', serif;
}

.form-nickname {
  font-family: 'Playfair Display', serif;
}

.form-email {
  font-family: 'Playfair Display', serif;
}

.form-submit-btn {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  background-color: white;
  border: 1px solid thistle;
  width: 75px;
  height: 30px;
}

.more-reviews-btn {
  display: inline;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: white;
  border: 1px solid thistle;
  width: 150px;
  height: 50px;
}

.modal-form {
  flex-wrap: wrap;
  display: inline-block;
  margin: 10px;
}

.add-review-btn {
  display: inline;
  margin: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: white;
  border: 1px solid thistle;
  width: 150px;
  height: 50px;
}