.modal-window {
  position: relative;
  z-index: 1;
  width: 30em;
  height: 20em;
  bottom: 15em;
  left: 15em;
  background-color: green;
  border: solid black;
}

.modal-window > section {
  display: flex;
  justify-content: space-between;
}