.button-card {
  font-family: 'Cantarell', sans-serif;
  height: 24em;
  width: 14em;
  margin: 0.3em;
  border-radius: 10px;
  z-index: 6;
}

#outfit-product {
  transform: none;
  transition: none;
}

.outfit-carousel {
  position: relative;
  display: flex;
  justify-content: flex-start;
  /* max-width: 100vw; */
  transition: transform 1s;
}

#add-button {
  color: rgb(96, 30, 158);
  font-size: 7em;
  height: 100%;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  background-color: darkgrey;
  border-radius: 10px;
  margin: 0;
  transition: none;
}

.button-card:hover {
  cursor: pointer;
}

#add-button:hover {
  color: black;
}

.favorites {
  color: grey;
  position: absolute;
  font-size: 3em;
  left: 0.5em;
  top: 50%;
  text-align: center;
  margin: 0;
}