.related > h1 {
  font-family: "Playfair Display", serif;
  font-size: 27px;
  margin-bottom: 0;
  color: rgb(96, 30, 158, 1);
  border-radius: 10px;
  padding: 2px 2px 2px 10px;
}
/*
.related {
  background-color: lightgray;
  width: 100%;
} */
