.carousel-slider {
  overflow-x: hidden;
}

.carousel-container {
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  justify-content: space-between;
  align-items: center;
  border-radius: 4%;
  border: solid black;
  border-right: none;
  border-left: none;
}

.carousel-container > button {
  cursor: pointer;
  z-index: 10;
  padding: 0;
  border: none;
  background-color: unset;
  height: 10em;
}

.carousel-container > button:hover {
  color: thistle;
}

#left-button {
  transform: rotate(180deg)
}

button > i {
  font-weight: 100;
  font-size: 7em;
}
