.carousel-slider {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgb(186 186 186 / 0%) 75%, rgb(174 174 174) 100%);
  border-radius: 10px;
}

.carousel-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  justify-content: space-between;
  align-items: center;
}

.carousel-container > button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: unset;
  height: 10em;
}

.carousel-container > button:hover {
  color:rgb(96, 30, 158);
}

.left-button {
  transform: rotate(180deg)
}

button > i {
  font-weight: 100;
  font-size: 7em;
}
